.headerproj {
    height:1070px;
    width: auto;
    position: relative;
    background-image: url(projectheader.png);
    background-size: contain;
}

.headergallery{
    height: 1080px;
    width: auto;
    position: relative;
    background-image: url(gleyheader.png);
    background-size: contain;
}

.hmbrgr {
    width: 92px;
    height: 35px;
    background-image: url(logo.png);
    background-size: cover;
    margin: 15px 0px;
    float: left;
  }
  
  ul{
    display: none;
    position: relative;
    top: -55px;
    padding: 55px 0 0 0;
    margin: 0;
  }
  ul:hover{
    display: block; 
  }
  li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
  }
  li:hover{ 
    cursor: pointer;
  }
  #button{
    display: inline-block;
    padding: 8px 8px 8px 32px;
    width: 250px;
  }
  #dd{
    display: inline-block;
    width: 250px;
    word-wrap: break-word;
  }
  #dd:active ul{
    display: block;
    width: 250px;
    word-wrap: break-word;
  } 
  #dd:active ul:hover{
    display: block;
  }
  #dd:active #button{
    display: inline-block;
    padding: 10px;
    background: #ccc;
    color: white;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #F6867A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .sidenav a.af {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 35px; 
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
  }


  #navbar {
    overflow: hidden;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  #navbar a {
    float: right;
    color: #F6867A;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 35px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #navbar #logo {
    transition: 0.4s;
    
  }
  
  #navbar a:hover {
    text-decoration: underline 10px #AD2E22;
  }
  
  #navbar a.active1s {
    text-decoration: underline 10px #AD2E22;
    color: #F6867A;
  }

  #navbar a.active1s:hover {
    text-decoration: underline 10px #DB3A2B;
    color: #AD2E22;
  }

  html {
    scroll-behavior: smooth;
  }



.collumn11 {
    position: relative;
    max-height: 300px;
    height: 300px;
    width: 100%;
    background-image: url(artbg2.png);
    background-size: contain;
}

.text11 {
    position: absolute;
    height: 250px;
    max-height: 250px;
    width: 1000px;
    top: 25px;
    right: 300px;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    z-index: 30;
    color: #AA85AF;
}

span.highlight11 {
    font-size: 25px;
    color: #C7BCFF;

}

.imageaff1 {
  width: 250px;
  height: 250px;
  background-image: url(kiara.png);
  background-size: cover;
  position: relative;
  left: 270px;
}

#img1 {
  background-image: url(dom2.png);
  background-size: cover;
  z-index: 31;
  left: 20px;
  bottom: 300px;
}

#img2 {
  background-image: url(dom1.png);
  background-size: cover;
  left: 1600px;
  top: 0px;
  z-index: 20;
  top: -590px;
}

.sidebgimages {
  height: 280px;
  width: 280px;
  margin: 10px 0px;
  z-index: 20;    
  position: relative;
}

.collumn {
  position: relative;
  max-height: 300px;
  height: 300px;
  width: 100%;
  background-color: #EAAF9C;
  
}

.text {
  position: absolute;
  height: 250px;
  max-height: 250px;
  width: 1000px;
  color: C8D3D5;
  top: 25px;
  right: 300px;
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  z-index: 30;
  color: white;
}

.image  {
  position: relative;
  height: 250px;
  max-height: 250px;
  width: 250px; 
  left: 300px;
  top: 25px;
  z-index: 30;
}

.collumnw {
  position: relative;
  top: 1160px;
  max-height: 300px;
  height: 300px;
  width: 100%;
  background-color: #EAAF9C;
  
}

#img1w {
  background-image: url(dom2.png);
  background-size: cover;
  z-index: 31;
  left: 20px;
  bottom: 300px;
  top: 860px;
}

#img2w {
  background-image: url(dom1.png);
  background-size: cover;
  left: 1600px;
  top: 1160px;
  z-index: 20;
  top: 570px;
}

.imageaff11 {
  width: 250px;
  height: 250px;
  background-image: url(Ash.jpg);
  background-size: cover;
  position: relative;
  left: 270px;
}

.imageaff12 {
  width: 250px;
  height: 250px;
  background-image: url(Dominique.jpg);
  background-size: cover;
  position: relative;
  left: 270px;
}